#add-success-alert,
#update-success-alert,
#delet-success-alert,


#delete-success-alert{
  display:none;
}

#add-success-alert,
#update-success-alert,
#delet-success-alert{
  animation-name: fadeInAnOut;
  animation-duration: 4s;
}

@-webkit-keyframes fadeInAnOut  {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeInAnOut  {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
