<div class="container">

  <div class="row text-center mt-5">
    <div class="col">
      <h2>Registro Mascotas</h2>
    </div>
  </div>

  <div class="row center mt-5">

    <div class="col-md-2">
      <label for="txtNombre" class="from-label">Nombre mascota</label>
      <input type="text" name="id" id="txtNombre" class="form-control" [(ngModel)]="mascota.nombre">
    </div>

    <div class="col-md-2">
      <label for="txtEspecie" class="from-label">Especie</label>
      <input type="text" name="id" id="txtEspecie" class="form-control" [(ngModel)]="mascota.especie">
    </div>

    <div class="col-md-2">
      <label for="txtRaza" class="from-label">Raza</label>
      <input type="text" name="id" id="txtRaza" class="form-control" [(ngModel)]="mascota.raza">
    </div>

    <div class="col-md-2">
      <label for="txtPropietario" class="from-label"> ID Dueño</label>
      <input type="text" name="id" id="txtPropietario" class="form-control" [(ngModel)]="mascota.idPropietario">
    </div>

  </div>


  <div class="row mt-5">
    <div class="col">
      <button class="bi bi-file-plus-fill m-2" type="button" (click)= "AddMascota(mascota)"></button>
      <button class="bi bi-folder-symlink-fill m-2" type="button" (click)= "UpdateMascota(mascota)"></button>
      <button class="bi bi-trash3-fill  m-2" type="button" (click)= "DeleteMascota(mascota.id)"></button>
    </div>
  </div>




  <div class="row mt-5">
    <div class="col">

      <table class="table table-success table-striped" style="width: 100%;">
        <thead>
          <tr>
            <th>Selecciona</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>ID Dueño</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of ObtenerMascotas">
            <td> <button class="bi bi-check2-square  m-2" type="button" (click)="SetData(item)"></button></td>
            <td>{{ item.id }} </td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.especie }}</td>
            <td>{{ item.raza }}</td>
            <td>{{ item.idPropietario}}</td>
          </tr>
        </tbody>
      </table>

<div class="alert alert-success" role="alert" id="add-success-alert">
Inspection successfully added
</div>

<div class="alert alert-success" role="alert" id="update-success-alert">
  Inspection successfully updated
</div>

<div class="alert alert-success" role="alert" id="delet-success-alert">
  Inspection successfully deleted
</div>



    </div>
  </div>
</div>
